body {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.section {
  margin-bottom: 5rem;
}
.header-section {
  background-color: black;
  padding: 1.3rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo_container {
  width: 120px;
  margin-left: 5rem;
}
.header_logo {
  filter: invert(100%);
}

.header_items_container {
  display: flex;
  margin-right: 6rem;
  gap: 3rem;
}
.header_items_menus {
  display: flex;
  gap: 2rem;
}

.header_item {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.header_item_second {
  display: flex;
  gap: 2rem;
}

.vertical_line {
  border-left: 1px solid white;
  height: 20px;
  margin: auto 1rem;
}

/*hero*/

.hero_section {
  background-image: linear-gradient(
    to bottom,
    pink,
    black,
    black,
    black,
    black
  );
}

.hero_left {
  padding: 3rem 0 3rem 17rem;
}

.hero_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

.hero_subtitle1 {
  margin: 1rem 0;
}

.hero_subtitle2 {
  background-color: #2a2a2a;
  width: fit-content;
  padding: 0.2rem 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.hero_button1 {
  background-color: #ef77a1;
  padding: 0.7rem 2rem;
  font-weight: bold;
  border: none;
}

.hero_button2 {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 0.7rem 2rem;
  font-weight: bold;
}

.hero_termins {
  font-size: 0.7rem;
  padding-right: 11rem;
}

.hero__right {
  background-image: url(../images/desktop-album-evergreen-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.rounded-pill {
  border-radius: 50px;
}

/*seccion caracteristicas*/

.plans__table__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table_title {
  font-weight: 700;
}

.table_subtitle {
  font-size: 1.5rem;
}

.table {
  width: 450px;
}

.table_row {
  background-color: black !important;
  border-bottom: 1px solid white;
}

.tablehead {
  border-bottom: 1px solid white;
  padding: 1rem 0;
}

table th {
  text-align: start;
}

tbody th {
  font-weight: 600;
  text-decoration: underline dashed white;
  text-underline-offset: 0.2rem;
}

.table_items {
  padding: 1rem;
  text-align: left;
}

.plans_payment_container {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plans_payment_title {
  font-weight: 700;
}

.plans_payment_subtitle {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo-payments_container {
  display: flex;
}

.icon_item {
  background-color: white;
  max-width: 3.5rem;
  padding: 0rem 0.5rem;
  margin: 0.3rem;
  border-radius: 5px;
}

.icon {
  max-width: 100%;
  height: auto;
}
